doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard

        style
            include ./tailwind.min.css
    body 
        h2.text-center Dashboard
        if user
            div.p-6 Welcome #{user.email}
        div.p-6
            a(href="/auth/logout") Logout